<div class="container ">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <i><h1 class = "title-styled"> Edit your Kihoho place : </h1></i>
            <div class="ul-designed">
              <%= simple_form_for (@cowork) do |f| %>
              <%= f.input :city,  placeholder:"Paris" %>
              <%= f.input :address, placeholder:"16 villa gaudelet" %>
              <%= f.input :capacity, placeholder:"5"%>
              <%= f.input :description, placeholder:"coworking place"%>
              <%= f.input :price, label: "Price in US dollars ($)", placeholder:"50" %>
              <%= f.input :photos, as: :attachinary %>
              <%= f.button :submit, "Update your Kihoho place", class: "btn btn-info form-control"%>
              <% end %>
            </div>
    </div>
  </div>
</div>

