


<div class="container min-height">
  <i><h1 class = "title-styled"> Your bookings : </h1></i>

  <% if @bookings.empty? %>
      <h3 class= "no-book">You haven't booked any kikoho places yet <i class="fa fa-frown-o" aria-hidden="true"></i> </h3>
      <h3 class= "no-book"> <%= link_to "Let's check our amazing places", coworks_path %>  </h3>
  <% else %>
      <% @bookings.each do |booking| %>
    <div class="row">
      <div class="col-xs-12 col-md-12">
      <div class="product">

        <%= cl_image_tag booking.cowork.photos.first.path, width: 300, height: 300, crop: :fill, id: "kudoz", class: "product-image hidden-xs" %>
        <div class="product-body">
        <h3> <i><%= booking.cowork.title %></i> at <span class = "city"> <%= booking.cowork.city%> </span> </h3>
        <p id = "description-styled"><%= booking.cowork.description %></p>
        <p> At <span class = "city"> <%= booking.cowork.user.username%></span> 's house, with <span class = "city"> <%= pluralize(booking.nbr_coworkers, 'kikoho worker')  %> </span> </p>
        <p>Check in : <%= booking.checkin %> <i class="fa fa-arrow-right icone-designed"></i> Check out : <%=booking.checkout %> <i> <span class= "city">(<%= (booking.checkout - booking.checkin).to_i %> days)</span></i></p>
        <p>Total price : $ <span class = "city"> <%= (booking.checkout - booking.checkin).to_i * (booking.nbr_coworkers) * (booking.cowork.price)%> </span></p>
        <p> Status : <span class = "city"> <%= booking.status %> </span></p>
          <p id = "cancel-styled">Cancel your booking  <span>
            <%= link_to booking_path(booking), method: :delete, class: "icone-designed" do %>
            <i class="fa fa-trash"></i>
            <% end %>
            </span>
          </p>
          </div>

      </div>
      <% end %>

    <% end %>

      </div>
    </div>
</div>
