<div class="navbar-wagon  <%= yield(:navbar_class) %>" >

        <div class="title1">

          <p><a href="/"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1058996-200.png" id= "logo"></a> WeeSound</p>
          </div>

          <div class="navbar-wagon-item">
            <div class="alignlist">
                <div><%= link_to "Become a host", new_cowork_path %></div>
                <div><%= link_to "My dashboard", dashboard_path %></div>
                    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                      <li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
                      <li><%= link_to "My bookings", bookings_path %></li>
                    </ul>



                <div><%= link_to "Kikoho places", coworks_path %></div>

                <% if user_signed_in? %>
                  <% avatar_url = current_user.facebook_picture_url %>
                  <% avatar_url = current_user.facebook_picture_url || "https://vignette2.wikia.nocookie.net/fantendo/images/9/9d/The_Mario_Icon%21.png/revision/latest?cb=20160427211059" %>
                  <div class="dropdown">
                    <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
                    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                      <li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
                      <li><%= link_to "My bookings", bookings_path %></li>
                    </ul>
                  </div>
                <% else %>
                  <div class="dropdown">
                    <button class="hamburger" id="navbar-wagon-menu" data-toggle="dropdown">&#9776;</button>
                    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                      <%= link_to "Log in", new_user_session_path %>
                    </ul>
                  </div>
                <% end %>
            </div>
          </div>
        </div>

        <!-- Dropdown appearing on mobile only -->
        <div class="navbar-wagon-item hidden-md hidden-lg">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <%= link_to "Log in", new_user_session_path %>
                         <% if user_signed_in? %>
                         <div><%= link_to "log out", destroy_user_session_path, method: :delete %></div>
                         <div><%= link_to "My bookings", bookings_path %></div>
                         <% avatar_url = current_user.facebook_picture_url %>
                        <% end %>
            </ul>
          </div>
        </div>


