

<% link_to "go to index", coworks_path %>

 <div id="home">
        <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,100,0.3) 0%, rgba(0,36,100,0.3) 50%), url(<%= image_path 'banner.jpg'%>);">
          <div class="banner-content">
            <h1>KIKOHO</h1>
            <h2>Live everywhere, work everywhere</h2>
            <br>
           <%= form_tag(coworks_path, method: :get) do %>
            <%= search_field_tag 'city',nil, class: "form-home" %>
            <%= submit_tag "Search", class: "btn-home"%>

           <% end %>

            <!-- <p> Start ygour journey</p> -->
          </div>
        </div>
</div>

<h2 class="h3 title-sep">Our top <span>coworking places</span></h2>
<br>

<div class="cards-home">
        <div class="container cards">
           <div class="row">
             <% @coworks[-3..-1].each do |cowork| %>
               <div class="col-xs-12 col-md-4">
               <%= link_to cowork_path(cowork), class: "your-class" do %>
                 <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cowork.photos.first.path, width: 300, height: 200, crop: :fill %>');">
                   <div class="card-category-home"><%= cowork.capacity %> workers
                   </div>
                   <div class="card-description">
                     <h2><%= cowork.city %></h2>
                     <p>the place to code</p>
                   </div>
                   <p class="card-user-home" > $<%= cowork.price %> </p>
                   <% end %>
                 </div>
               </div>
             <% end %>
           </div>
          </div>
</div>

<div class="h3 title-sep-btn">
      <%= link_to 'Discover more', coworks_path, class: "btn btn-info btn-home"  %>

</div>



  <section role="main" id="vipBlock">
    <div class="content-block">
      <div class="container-center">
          <div class="title_banner_green">

             <h2 class="h3 title-sep"> See what our Kikoho-Workers think</h2>

          </div>
<div class="vignettes">
          <div class="vignette-banner" >
                  <div class="card-category-home">Marie</div>
                  <div class="card-description-home">
                    <h2> At Titos in La Havana</h2>
                    <p>I was very pleased by the space available! it was fantaaaaasticcc !!!!
                                     No kidding! We had fiber optic wifi, a must ! great locations! can't ask for a bette places to stay, you can work in a healthy joyful environment ! Tito is very welcoming and will not hesitate to help you connect with other people! </p>
                  </div>
                  <img class="card-user-home img-border" src="https://kitt.lewagon.com/placeholder/users/roselyne0000">
                  <a class="card-link" href="#" ></a>
                </div>



          <div class="vignette-banner">
                  <div class="card-category-home">Nicole</div>
                  <div class="card-description-home">
                    <h2>At James' saloon in San Francisco</h2>
              <p>Working remotely takes the isolation out of sole-proprietorship...plus, I enjoy being on the road and love being able to see the sites while I'm on the clock. Self-employed from home and sometimes I just need to get out of my place and it was great!</p>
                  </div>
                  <img class="card-user-home" src="https://kitt.lewagon.com/placeholder/users/nini93">
                  <a class="card-link" href="#" ></a>
                </div>
              </div>
</div>

    </dsiv>


    </div>
    <div class="row">
    <div class="col-sm-10 col-sm-offset-1 center" style="padding-left: 50px;">
    <p></p>
    </div>
    </div>


  </section>



<h2 class="h3 title-sep"> About <span>us</span></h2>
<br>


    <div class="aboutcard">
          <div><img src="https://kitt.lewagon.com/placeholder/users/roselyne0000" class= " rose img-border"></div>
          <div><img src="https://kitt.lewagon.com/placeholder/users/nini93" class=" nini img-border"></div>
          <div><img src="https://kitt.lewagon.com/placeholder/users/fabienneb" class= " Rob img-border"></div>
          <div><img src="https://kitt.lewagon.com/placeholder/users/robbyguerrier" class= " fabi img-border"></div>
    </div>
 <div class="aboutcard">
    <div class="centertext">
                  <h3>Roselyne</h3>
                  <h4>Paris, France</h4>
                  <p>COWORKING AT  ITS BEST <br>
                    TEAM SPIRIT IS A WAY OF LIFE FOR HER<br>
                    KIND AND PEACEFUL, KEEP CALM AND BE ROSELYNE <br>
                    </p>
     </div>

    <div class="centertext">
                  <h3>Elodie</h3>
                  <h4>BARCELONA, SPAIN</h4>
                  <p>ELECTRIC MINDSET<br>
                    DREAM SELLER, SHE IS AN ENERGIZER<br>
                    BE HAPPY BE ELODIE <br>
                    </p>
                </div>

    <div class="centertext">
                  <h3>Fabienne</h3>
                  <h4>Montreal, Canada</h4>
                  <p>ENGINEER MINDSET <br>
                    PROBLEM SOLVING ISSUES ARE LIKE A GIFT FOR HER<br>
                    FAST AND FURIOUS IDEAS AT WILL <br>
                    </p>
                </div>
    <div class="centertext">
                  <h3>Robby</h3>
                  <h4>New york, USA</h4>
                  <p>CREATIVE MINDSET <br>
                    DREAM SELLER, HE IS THE MUSE OF THIS FIRM<br>
                    INSPIRE OTHERS IS HIS MOTTO <br>
                    </p>
                </div>
</div>

    <div class="aboutus">
    <h2 class="h3 title-sep"><i> "We encourage digital nomads to enjoy their working lives."</i>
    <br></br>
    <!-- <br><span> We are ... Kikoho-Workers !</span></h2></br> -->
    <br>
    </div>

  </div>


<% content_for(:after_js) do %>


<script>
 var flat_address = $('input#city').get(0);

  if (flat_address) {
    var autocomplete = new google.maps.places.Autocomplete(flat_address, { types: ['geocode'] });
    google.maps.event.addDomListener(flat_address, 'keydown', function(e) {
      if (e.keyCode == 13) {
        e.preventDefault(); // Do not submit the form on Enter.
      }
    });
  }
  </script>

  <% end %>
